html,body{
    padding: 0px;
    margin: 0px;
}

.imagemcbc{
    display: flex;
    margin-left: 295px;
    margin-top: 13px;
}
.menu{
    display: flex;
    margin-top: 11px;
    background-color: rgb(151, 0, 0);
    color: white;
    height: 48px;
    align-items: center;
    font-size: 13px;
}
.margin{
    margin-left: 12px;
    margin-right: 15px;
}
.HOME{
    margin-left: 312px;
    margin-right: 15px;
}
