body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulario{
width: 500px;
background-color: #fff;
justify-content: center;
text-align: center;
}
label{
    display: block;
    text-align: center;
    justify-content: center;
}
input{
    display: block;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
button{
    width: 300px;
}
.erro{
    color: red;
}